/*public*/
.green{color: #51a351;}
.m-l-30{margin-left: 30px;}
.pos-r{position: relative;}
.nomargin-top{margin-top: 0px;}
.flr{float: right;}
.logo-pic{position: absolute;overflow: hidden;display: none;z-index: 99;right: 0;top:-2px;border: 1px dashed red;}
.logo-icon{line-height: 28px;}

.hidiv{z-index: 99;position: absolute;background: none repeat scroll 0 0 #eeeeee;margin-right: 0;min-height: 100%;width: 100%;background-color: rgba(207,207,207,0.8);display: none;margin: 0;padding: 0
}



#minibar .progress-mini{height: 6px;}


.md-drag{
	width: 100%;
	height: 200px;
	background: #fff;
	border: 4px dotted #eee;
	text-align: center;
	color: #ccc;
	font-size: 20px;
	line-height: 200px;
	font-weight: bold;
}

#gallery{
width: 100%;
list-style: none;
overflow: hidden;
}
#gallery li{float: left;
margin: 0 10px 10px 0px;
min-width: 7%;
min-height: 100px;
max-height: 100px;
max-width: 100px;
overflow: hidden;
position: relative;
}
#gallery li img{
	min-height: 70px;
	width: 100%;
	height: auto;
}
#gallery li span.progress{
position: absolute;
top: 0;
width: 100%;
height: 2px;
background: red;
}

#gallery li span.close{
position: absolute;
top: 1px;
right:1px;
display: none;
color: red;
z-index: 99;
}

#addattr h5:hover{color: #5bb75b;}