<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="MEILIMZ">
    <link rel="shortcut icon" href="">
    <title>美丽聚慧 - 内部版本开发中build20140701</title>
    <!-- CSS -->
    <link rel="stylesheet" href="{$vp}/css/reset.css">
    <link rel="stylesheet" href="{$vp}/css/bootstrap.css">
    <link rel="stylesheet" href="{$vp}/css/global.css">
    <link rel="stylesheet" href="{$vp}/css/item.css">
    <!-- jS -->
    <script src="{$vp}/js/jquery.min.js"></script>
    <script src="{$vp}/js/bootstrap.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
{include file="tpl_header.html"}

<div class="ML-p">
    <div class="ML-category">
        <div class="container">
            <div class="well well-sm ML-top-noradius">
                <ul class="list-inline">
                    <li><a href="">全部特卖<span> (199)</span></a></li>
                    <li><a href="">面部护理<span> (51)</span></a></li>
                    <li><a href="">彩妆<span> (11)</span></a></li>
                    <li><a href="">身体护理<span> (81)</span></a></li>
                    <li><a href="">食品保健<span> (999)</span></a></li>
                    <li><a href="">香水<span> (12)</span></a></li>
                    <li><a href="">美容工具<span> (11)</span></a></li>
                    <li><a href="">套装礼盒<span> (501)</span></a></li>
                    <li><a href="">其它<span> (1)</span></a></li>
                </ul>            
            </div>
        </div>
    </div>    
<!--ML-focus-->
<div class="container">    
    <div class="ML-focus">
            <div class="tab-content"><!--focus Tab panes -->
              <div class="tab-pane fade in active" id="ML-foucs-img1">
                  <div class="row">
                      <div class="col-md-6">
                          <img class="img-responsive" src="{$vp}/img/focus/f1.png" alt="">
                      </div>
                      <div class="col-md-6">
                          <div class="panel panel-success">
                              <div class="panel-heading">
                                  <h3 class="panel-title"><span class="glyphicon glyphicon-time"></span><span> 距离活动结束 <strong>02 18:10:02</strong></span></h3>
                              </div>
                              <div class="panel-body">
                                  <p><span class="ML-price ML-fontsize">6.9 折</span> 全能超明星眼霜，全世界最受好评的眼部护理产品！Estee Lauder雅诗兰黛即时修护眼部精华霜15ml，帮助眼部肌肤密集保湿，深层滋润，全方位改善浮肿，眼袋和黑眼圈，深层修护细纹皱纹等各种眼部问题。8个星期后，双眸不见岁月留痕，让你看上去...</p>
                                  <br>
                                  <div class="ML-focus-buy">
                                     <div class="row">
                                         <div class="col-md-9">
                                             <p>
                                                 <span class="ML-focus-bs1">&yen; <span class="ML-focus-bs2">169</span></span><s><small>&yen;99</small></s>
                                             </p>
                                             <br>
                                             <p><small class="text-danger">新品上线 快来试试吧</small></p>
                                         </div>
                                         <div class="col-md-3">
                                             <p><a type="button" class="btn btn-lg btn-success"><span class="glyphicon glyphicon-share-alt"></span> 去看看</a></p>
                                             <br>
                                             <p><span class="text-danger">360</span> <small>人已经购买</small></p>
                                         </div>
                                     </div>
                                  </div>                                  
                              </div>
                          </div>
                      </div>
                  </div>
              </div><!--/img1-->
              <div class="tab-pane fade" id="ML-foucs-img2">
                  <div class="row">
                      <div class="col-md-6">
                          <img class="img-responsive" src="{$vp}/img/focus/f2.png" alt="">
                      </div>
                      <div class="col-md-6">
                          <div class="panel panel-success">
                              <div class="panel-heading">
                                  <h3 class="panel-title"><span class="glyphicon glyphicon-time"></span><span> 距离活动结束 <strong>02 12:12:12</strong></span></h3>
                              </div>
                              <div class="panel-body">
                                  <p><span class="ML-price ML-fontsize">5.9 折</span> 第一款同时拥有四种颜色的散粉！纪梵希 (Givenchy)轻盈无痕明星四色散粉2号 20g，将四种不同颜色的蜜粉混合使用，创造出最自然的色彩。如羽毛般轻盈的散粉，极其细腻，让你体验前所未有的丝滑感觉！妆效持久保持一整天，丝毫不干燥结块！让...</p>
                                  <br>
                                  <div class="ML-focus-buy">
                                     <div class="row">
                                         <div class="col-md-9">
                                             <p>
                                                 <span class="ML-focus-bs1">&yen; <span class="ML-focus-bs2">89</span></span><s><small>&yen;99</small></s>
                                             </p>
                                             <br>
                                             <p><small class="text-danger">新品上线 快来试试吧</small></p>
                                         </div>
                                         <div class="col-md-3">
                                             <p><a type="button" class="btn btn-lg btn-success"><span class="glyphicon glyphicon-share-alt"></span> 去看看</a></p>
                                             <br>
                                             <p><span class="text-danger">960</span> <small>人已经购买</small></p>
                                         </div>
                                     </div>
                                  </div>                                  
                              </div>
                          </div>
                      </div>
                  </div>
              </div><!--/img2-->
              <div class="tab-pane fade" id="ML-foucs-img3">
                  <div class="row">
                      <div class="col-md-6">
                          <img class="img-responsive" src="{$vp}/img/focus/f3.png" alt="">
                      </div>
                      <div class="col-md-6">
                          <div class="panel panel-success">
                              <div class="panel-heading">
                                  <h3 class="panel-title"><span class="glyphicon glyphicon-time"></span><span> 距离活动结束 <strong>02 18:40:21</strong></span></h3>
                              </div>
                              <div class="panel-body">
                                  <p><span class="ML-price ML-fontsize">8.9 折</span> 渴望没有斑，没有黄的净澈裸肌？雅诗兰黛(Estee Lauder)清澈净白六件中样套（洁面乳15ml+精粹水50ml+精华露15ml+滋润霜7ml+滋润晚霜7ml+化妆包(款式随机发)），蕴含天然黄芩净白精萃，减退肌肤黯黄，再透深层亮白。深度美白，深澈 ...</p>
                                  <br>
                                  <div class="ML-focus-buy">
                                     <div class="row">
                                         <div class="col-md-9">
                                             <p>
                                                 <span class="ML-focus-bs1">&yen; <span class="ML-focus-bs2">108</span></span><s><small>&yen;99</small></s>
                                             </p>
                                             <br>
                                             <p><small class="text-danger">新品上线 快来试试吧</small></p>
                                         </div>
                                         <div class="col-md-3">
                                             <p><a type="button" class="btn btn-lg btn-success"><span class="glyphicon glyphicon-share-alt"></span> 去看看</a></p>
                                             <br>
                                             <p><span class="text-danger">129</span> <small>人已经购买</small></p>
                                         </div>
                                     </div>
                                  </div>                                  
                              </div>
                          </div>
                      </div>
                  </div>
              </div><!--/img3-->         
            </div>
            <!--focus Nav tabs -->
            <div class="ML-focus-nav text-center">               
                <div class="row" role="tablist" id="ML-focus-nav">
                    <div class="col-md-4 ML-focus-n1"><a href="#ML-foucs-img1" data-toggle="tab">御诚 ROYAL植萃水润修颜BB霜</a></div>
                    <div class="col-md-4 ML-focus-n2"><a href="#ML-foucs-img2" data-toggle="tab">御诚 Royal活颜十四有效修护眼精华素</a></div>
                    <div class="col-md-4 ML-focus-n3"><a href="#ML-foucs-img3" data-toggle="tab">御诚 Royal花萃净白夜间修护霜</a></div>
                </div>
            </div>
    </div>
</div>
<script>
    $('#ML-focus-nav a').mouseover(function(e){
        e.preventDefault();
        $(this).tab('show');
    })
</script>       
<!--/ML-focus-->
    <br> 
    <div class="container">
        <hr>      
        <div class="ML-p-title">
            <p class="text-center">
                10点品牌团 BRAND'S DEALS
            </p>
        </div>
        <div class="ML-p1-body">
            <div class="row">
                <div class="col-md-6">
                    <a href="/tpl_item.html">
                        <div class="thumbnail">
                            <img class="img-responsive" src="{$vp}/img/good1.jpg" alt="">
                            <div class="caption">
                                <h4>御诚Royal BB霜</h4>
                                <p>顶级蚕丝携带珍贵花萃，全球领先独家水疗工艺，隐形弹力蚕丝，服贴更方便，蕴含国际护肤成分之王，肌肤新生效果比普通面膜的10倍!</p>
                                <p><span class="ML-priceinfo">5.9</span> <small>折起</small><span class="pull-right ML-leavetime"><small>01 天 10 时 20 分 30 秒</small></span></p>                            
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="#">
                        <div class="thumbnail">
                            <img class="img-responsive" src="{$vp}/img/good2.jpg" alt="">
                            <div class="caption">
                                <h4>御诚Royal BB霜</h4>
                                <p>顶级蚕丝携带珍贵花萃，全球领先独家水疗工艺，隐形弹力蚕丝，服贴更方便，蕴含国际护肤成分之王，肌肤新生效果比普通面膜的10倍!</p>
                                <p><small>全场满</small> <span class="ML-priceinfo">168</span> <small> 减 </small> <span class="ML-priceinfo">59</span><span class="pull-right ML-leavetime"><small>01 天 10 时 20 分 30 秒</small></span></p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    <a href="">
                        <div class="thumbnail">
                            <img class="img-responsive" src="{$vp}/img/good3.jpg" alt="">
                            <div class="caption">
                                <h4>御诚Royal BB霜</h4>
                                <p>顶级蚕丝携带珍贵花萃，全球领先独家水疗工艺，隐形弹力蚕丝，服贴更方便，蕴含国际护肤成分之王，肌肤新生效果比普通面膜的10倍!</p>
                                <p><span class="ML-priceinfo">5.9</span> <small>折起</small><span class="pull-right ML-leavetime"><small>01 天 10 时 20 分 30 秒</small></span></p>                            
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="#">
                        <div class="thumbnail">
                            <img class="img-responsive" src="{$vp}/img/good4.jpg" alt="">
                            <div class="caption">
                                <h4>御诚Royal BB霜</h4>
                                <p>顶级蚕丝携带珍贵花萃，全球领先独家水疗工艺，隐形弹力蚕丝，服贴更方便，蕴含国际护肤成分之王，肌肤新生效果比普通面膜的10倍!</p>
                                <p><small>全场满</small> <span class="ML-priceinfo">168</span> <small> 减 </small> <span class="ML-priceinfo">59</span><span class="pull-right ML-leavetime"><small>01 天 10 时 20 分 30 秒</small></span></p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <a href="">
                        <div class="thumbnail">
                            <img class="img-responsive" src="{$vp}/img/good5.jpg" alt="">
                            <div class="caption">
                                <h4>御诚Royal BB霜</h4>
                                <p>顶级蚕丝携带珍贵花萃，全球领先独家水疗工艺，隐形弹力蚕丝，服贴更方便，蕴含国际护肤成分之王，肌肤新生效果比普通面膜的10倍!</p>
                                <p><span class="ML-priceinfo">5.9</span> <small>折起</small><span class="pull-right ML-leavetime"><small>01 天 10 时 20 分 30 秒</small></span></p>                            
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="#">
                        <div class="thumbnail">
                            <img class="img-responsive" src="{$vp}/img/good6.jpg" alt="">
                            <div class="caption">
                                <h4>御诚Royal BB霜</h4>
                                <p>顶级蚕丝携带珍贵花萃，全球领先独家水疗工艺，隐形弹力蚕丝，服贴更方便，蕴含国际护肤成分之王，肌肤新生效果比普通面膜的10倍!</p>
                                <p><small>全场满</small> <span class="ML-priceinfo">168</span> <small> 减 </small> <span class="ML-priceinfo">59</span><span class="pull-right ML-leavetime"><small>01 天 10 时 20 分 30 秒</small></span></p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div><!--/ML-p1-body-->
        
        <br>
        <div class="ML-p2-body">
            <div class="row">
                <div class="col-md-9 ML-p2-left">                   
                    <div class="ML-p-title">
                        <p class="text-left">
                            最新特卖TODAY'S DEALS
                            <span class="pull-right text-danger"><small>每日10点上新</small></span>
                        </p>                        
                    </div>
            {foreach $goods as $v}
            {if $v@iteration is odd  }
            <div class="row">
            {/if}
                <div class="col-md-6">
                    <a href="goods.php?id={$v.id}">
                        <div class="thumbnail">
                            <img class="img-responsive" src="{$v.thumb_img}" alt="{$v.goods_name}">
                            <div class="caption">
                                <h4>{$v.goods_name}</h4>
                                <p>{$v.goods_brief}</p>
                                <p><span class="ML-priceinfo">5.9</span> <small>折起</small><span class="pull-right ML-leavetime"><small>倒计时加载中。。。</small></span></p>                            
                            </div>
                        </div>
                    </a>
                </div>
            {if $v@iteration is even or $v@last}
            </div>
            {/if}
            {/foreach}
       

                </div>


                <!--/ML-p2-left-->
                
                <div class="col-md-3 ML-p2-right"> 
                    <div class="panel panel-default">
                        <div class="panel-body">
                        <strong>爆款抢先看</strong>
                        </div>
                        <div class="panel-footer">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist" id="ML-p2-nav-1">
                                <li class="active"><a href="#home" role="tab" data-toggle="tab"><small>新品预告</small></a></li>
                                <li><a href="#profile" role="tab" data-toggle="tab"><small>后天10点开抢</small></a></li>  
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="home">
                                    <img src="{$vp}/img/p2nav11.jpg" alt="" class="img-responsive">
                                </div>
                                <div class="tab-pane fade" id="profile">
                                    <img src="{$vp}/img/p2nav12.jpg" alt="" class="img-responsive">
                                </div>  
                            </div>
                            <script>
                                $('#ML-p2-nav-1 a').hover(function (e) {
                                    e.preventDefault();
                                    $(this).tab('show');
                                })
                            </script>  
                        </div>
                    </div><!--/1-->
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <strong>今日爆款</strong>
                        </div>
                        <div class="panel-footer">
                            <img src="{$vp}/img/p2nav12.jpg" alt="" class="img-responsive">
                        </div>
                    </div><!--/2-->
                    <div class="ML-service">
                        <ul class="list-group">
                          <li class="list-group-item">
                              <a href=""><img src="{$vp}/images/400.jpg" alt="" class="img-responsive"></a>
                          </li>
                          <li class="list-group-item">
                              <a href=""><img src="{$vp}/images/bqq.png" alt="" class="img-responsive"></a>
                          </li>                          
                        </ul>
                    </div>
                    <!--/3-->
                </div>
            </div>
        </div>
    </div>
</div><!--/ML-p index 主体结束-->

{include file="tpl_footer.html"}
</body>
</html>