 <div class="ML-footer">
<footer class="ML-footer-foot container">
    <ul class="small list-inline text-center">
        <li>Copyright &copy; 2012-2014</li>
        <li>安徽富民网络科技有限公司 保留所有版权</li>
        <li>ICP备案证书号：皖B2-20120016</li>
        <li>增值电信业务经营许可证：皖B2-20120016</li>
    </ul>
    <ul class="small list-inline text-center">
        <li>客户服务热线：400 080 1778</li>
        <li>聚慧官网：www.meilimz.com</li>
        <li>投诉建议：ts@meilimz.com</li>
    </ul>
    <ul class="list-inline text-center">
        <li>
            <img src="{$vp}/images/sinahome_alipay_0625.jpg" alt=""></li>
        <li>
            <img src="{$vp}/images/tdflag1.jpg" alt=""></li>
        <li>
            <img src="{$vp}/images/sinahome_wscfy_031.gif" alt=""></li>
        <li>
            <img src="{$vp}/images/sinahome_ws_033.gif" alt=""></li>
        <li>
            <img src="{$vp}/images/sinahome_ws_035.gif" alt=""></li>
    </ul>
</footer>
<!--/container3-->
<br></div>
