<header class="ML-jumbotron ML-jumbotron-top">
    <div class="container">
        <nav class="navbar navbar-default" role="navigation">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#ML-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"><img src="/{$vp}/images/nav_logo.jpg" alt=""></a>
            </div>
    
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="ML-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#"><strong>限时特卖</strong></a></li>
              <!--
                <li><a href="#"><strong>美妆商城</strong></a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><strong>美妆口碑</strong> <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu" id="ML-navbar-collapse-2">
                    <li><a href="#">美妆大全</a></li>
                    <li><a href="#">Free 派</a></li>
                    <li><a href="#">我的闺蜜</a></li>
                    <li class="divider"></li>
                    <li><a href="#">口碑SHOW</a></li>               
                  </ul>
                </li>
                <li><a href="#"><strong>手机聚慧</strong></a></li>

                -->
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><strong>正品保证</strong> <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu" id="ML-navbar-collapse-3">
                    <li><a href="#">真品联盟</a></li>
                    <li><a href="#">正品鉴定</a></li>
                    <li><a href="#">常见问题</a></li>
                    <li class="divider"></li>
                    <li><a href="#">退货政策</a></li>                
                    <li><a href="#">帮助中心</a></li>
                  </ul>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><small>登录</small></a></li>
                <li><a href="#"><small>注册</small></a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><small>我的聚慧</small> <span class="caret"></span></a>
                  <ul class="dropdown-menu dropdown-menu-right" role="menu" id="ML-navbar-collapse-4">
                    <li><a href="#">我的订单</a></li>                
                    <li><a href="#">我的留言</a></li>
                    <li><a href="#">我的代金券</a></li>
                    <li class="divider"></li>
                    <li><a href="#">我的个人中心</a></li>
                  </ul>
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
    </div>
</header>

<div class="container ML-header">
    <div class="row">
        <div class="col-md-6 ML-header-logo">
           <a href="./tpl_index.html"><img class="img-responsive" src="/{$vp}/images/logo.gif" alt="logo" style="max-width:360px;"></a>
        </div>
        <div class="col-md-6 ML-header-cart">            
            <ul class="nav nav-pills nav-stacked">
                <li class="active">
                    <button class="btn btn-danger pull-right" type="button">去购物车结算 <span class="badge">190</span></button>
                    <img class="img-responsive" src="/{$vp}/images/logo_corn_r.png" alt="logo_corn_r loading" style="max-width:370px;">
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="ML-jumbotron ML-jumbotron-000">
    <div class="container">
        <nav class="navbar" role="navigation">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">特卖精选</a></li>
                {foreach $navs as $v}
                 <li><a href="{$v.nav_url}" {if $v.is_blank} target="_blank" {/if} >{$v.nav_name}</a></li>
                {/foreach}
            </ul>
        </nav>        
    </div>    
</div>